/* 
 _____   _           _         _                        _                  
|_   _| | |         | |       | |                      | |                 
  | |   | |__   __ _| |_ ___  | |_ ___  _ __ ___   __ _| |_ ___   ___  ___ 
  | |   | '_ \ / _` | __/ _ \ | __/ _ \| '_ ` _ \ / _` | __/ _ \ / _ \/ __|
 _| |_  | | | | (_| | ||  __/ | || (_) | | | | | | (_| | || (_) |  __/\__ \
 \___/  |_| |_|\__,_|\__\___|  \__\___/|_| |_| |_|\__,_|\__\___/ \___||___/
Oh nice, welcome to the stylesheet of dreams. 
It has it all. Classes, ID's, comments...the whole lot:)
Enjoy responsibly!
@ihatetomatoes
*/
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/*.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.form-loading-wrapper {
    top: 0px;
    background-color: #0090d9;
    display: block;
    height: 100%;
    position: fixed;
    width: 87%;
    left: 13%;
    z-index: 10000;
}
.loading-wrapper {
    top: 0px;
    background-color: #0090d9;
    display: block;
    height: 100%;
    position: fixed;
    width: 100%;
    /*left: 13%;*/
    z-index: 10000;
}
@media only screen and (max-width: 1440px){ 
.loading-wrapper {
 top: 0px;
 background-color: #0090d9;
 display: block;
 height: 100%;
 position: fixed;
 width: 87%;
 left: 17%;
 z-index: 10000;
    }
}
@media only screen and (max-width: 1024px){ 
.loading-wrapper {
 top: 0px;
 background-color: #0090d9;
 display: block;
 height: 100%;
 position: fixed;
 width: 96.5%;
 left: 4.5%;
 z-index: 10000;
    }
}
@media only screen and (max-width: 768px){ 
.loading-wrapper {
 top: 0px;
 background-color: #0090d9;
 display: block;
 height: 100%;
 position: fixed;
 width: 100%;
 left: 0%;
 z-index: 10000;
    }
}
.loading {
    position: absolute;
    min-height: 100px;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
}
.loading:after {
    background-color: #fff;
    content: '';
    width: 50px;
    height: 50px;
    -moz-animation: preloader 500ms linear infinite;
    -webkit-animation: preloader 500ms linear infinite;
    animation: preloader 500ms linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}
.loading:before {
    content: '';
    width: 50px;
    height: 5px;
    background: #000;
    -moz-animation: preloader-shadow 500ms linear infinite;
    -webkit-animation: preloader-shadow 500ms linear infinite;
    animation: preloader-shadow 500ms linear infinite;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
}
@-moz-keyframes preloader {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -moz-transform: translateY(9px) rotate(22.5deg);
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -moz-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        -moz-transform: translateY(9px) rotate(67.5deg);
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -moz-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg);
    }
}
@-webkit-keyframes preloader {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -webkit-transform: translateY(9px) rotate(22.5deg);
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -webkit-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        -webkit-transform: translateY(9px) rotate(67.5deg);
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg);
    }
}
@keyframes preloader {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -moz-transform: translateY(9px) rotate(22.5deg);
        -ms-transform: translateY(9px) rotate(22.5deg);
        -webkit-transform: translateY(9px) rotate(22.5deg);
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -moz-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        -ms-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        -webkit-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        -moz-transform: translateY(9px) rotate(67.5deg);
        -ms-transform: translateY(9px) rotate(67.5deg);
        -webkit-transform: translateY(9px) rotate(67.5deg);
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -moz-transform: translateY(0) rotate(90deg);
        -ms-transform: translateY(0) rotate(90deg);
        -webkit-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg);
    }
}
@-moz-keyframes preloader-shadow {
    50% {
        -moz-transform: scale(1.2, 1);
        transform: scale(1.2, 1);
    }
}
@-webkit-keyframes preloader-shadow {
    50% {
        -webkit-transform: scale(1.2, 1);
        transform: scale(1.2, 1);
    }
}
@keyframes preloader-shadow {
    50% {
        -moz-transform: scale(1.2, 1);
        -ms-transform: scale(1.2, 1);
        -webkit-transform: scale(1.2, 1);
        transform: scale(1.2, 1);
    }
}
/* 
    Ok so you have made it this far, that means you are very keen to on my code. 
    Anyway I don't really mind it. This is a great way to learn so you actually doing the right thing:)
    Follow me @ihatetomatoes
*/