@media (max-width: 768px){
.dataTables_wrapper-768{
    overflow-x:auto; 
    } 
}
@media (max-width: 1024px){
.dataTables_wrapper-1024{
    overflow-x:auto; 
    }   
}
@media (max-width: 1440px){
.dataTables_wrapper-1440{
    overflow-x:auto; 
    }   
}
@media (min-width: 1441px){
.dataTables_wrapper-1441{
    overflow-x:auto; 
    }   
}
@media (min-width: 1441px) and (max-width: 1679px){
  .DTs_wrapper-quotation{
      overflow-x:auto; 
  }
  .DTs_wrapper-invoice{
      overflow-x:auto; 
  }   
}
@media (min-width: 1680px) and (max-width: 1900px){
  .DTs_wrapper-invoice{
      overflow-x:auto; 
  }
  .DTs_wrapper-quotation{
      overflow-x:auto; 
  }   
}
@media (max-width: 425px){
.dataTables_wrapper-425{
    overflow-x:auto; 
    }   
}
.scroll-x{
    overflow-x: scroll;   
}
input {
    width:100%
}
.swal-footer {
    text-align: center;
}
.swal-button--danger:not([disabled]):hover {
    background-color: #000 !important;
}
.swal-button--danger {
    padding: 10px 33px;
    background-color: #2e8fda;
    border: 1px solid #2e8fda;
}

.swal-button--danger:not([disabled]):hover {
    background-color: #fff !important;
    color: #2e8fda;
}
.swal-icon {
    border-color: #000;
}
/*.swal-icon--warning__body, .swal-icon--warning__dot {
    background-color: red;
}*/
 
.swal-button--danger:focus {
    box-shadow: none;
}
.swal-button--cancel:focus{
	box-shadow: none;
}
.form-loading-wrapper
{
  display:none;
}
/*.control_indicator1 {
    position: absolute ;
    top: 1px !important;
    left: 3% !important;
    height: 20px !important;
    width: 20px !important;
    background: #FFFFFF;
    border: 3px solid darkgrey;
    border-radius: 4px;
}
.control-checkbox .control_indicator1:after {
    left: 4px !important;
    top: -1px !important;
    width: 3px !important;
    height: 10px !important;
    border: solid darkslategray !important;
    border-width: 0 3px 3px 0 !important;
    transform: rotate(45deg) !important;
}*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
.label-font label b{
  font-size: 14px;
}
.label-font span.error{
  display:none;
}
@supports (-moz-appearance:none) {
  SELECT
  {
  -moz-appearance:none !important;
  background: transparent url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') right center no-repeat !important;
  background-position: calc(100% - 5px) center !important;
  background-color:#fff !important;
  }
}
@media (max-width: 768px){
.dataTables_wrapper{
    overflow-x:auto; 
    } 
    
}
@media (max-width: 1024px){
.dataTables_wrapper{
    overflow-x:auto; 
    }   
}
@media (max-width: 1440px) {
.dataTables_wrapper{
    overflow-x:auto; 
    }   
}
@media (max-width: 1680px){
 .dataTables_wrapper{
    overflow-x:auto; 
    } 
}
@media (max-width: 425px){
.dataTables_wrapper{
    overflow-x:auto; 
    }  
    .radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
        margin-top: 0;
        margin-left: 0px;
    } 
}
@supports (-moz-appearance:none) {
  SELECT
  {
  -moz-appearance:none !important;
  background: transparent url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') right center no-repeat !important;
  background-position: calc(100% - 5px) center !important;
  background-color:#fff !important;
  }
}
select::-ms-expand {
  border:none;
  background: transparent;
  -ms-box-sizing:border-box;
}
input[type="radio"],input[type="checkbox"] {
    width: auto;
}
.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
    margin-top: 0;
    /* margin-left: 10px; */
}
.align-middle
{
    vertical-align: middle !important;
}